{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://zoo:8888",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "404.php",
          "mtimeMs": 1633077015635.1606,
          "ctimeMs": 1633077015635.1606,
          "date": "2021-10-01T08:37:26.049Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1630914966000,
          "ctimeMs": 1630925778775.191,
          "date": "2021-09-27T07:51:56.523Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1631189261875.6091,
          "ctimeMs": 1631189261875.6091,
          "date": "2021-09-27T07:51:58.099Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1634995352187.4666,
          "ctimeMs": 1634995352187.4666,
          "date": "2021-10-23T13:47:29.988Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1631188951010.527,
          "ctimeMs": 1631188951010.527,
          "date": "2021-09-27T07:51:58.613Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1632731336272.4558,
          "ctimeMs": 1632731336272.4558,
          "date": "2021-09-27T08:41:37.559Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1632057918738.5676,
          "ctimeMs": 1632057918738.5676,
          "date": "2021-09-27T07:51:59.096Z"
        },
        {
          "file": "phpcs.xml.dist",
          "mtimeMs": 1630914966000,
          "ctimeMs": 1630925778776.027,
          "date": "2021-09-27T07:51:59.631Z"
        },
        {
          "file": "readme.txt",
          "mtimeMs": 1630914966000,
          "ctimeMs": 1630925778776.0645,
          "date": "2021-09-27T07:51:59.871Z"
        },
        {
          "file": "screenshot.png",
          "mtimeMs": 1630927386370.4287,
          "ctimeMs": 1630927419423.3428,
          "date": "2021-09-27T07:52:00.615Z"
        },
        {
          "file": "search.php",
          "mtimeMs": 1632682833916.9585,
          "ctimeMs": 1632682833916.9585,
          "date": "2021-09-27T07:52:00.851Z"
        },
        {
          "file": "sidebar.php",
          "mtimeMs": 1630914966000,
          "ctimeMs": 1630925778776.135,
          "date": "2021-09-27T07:52:01.327Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1632672048815.1033,
          "ctimeMs": 1632672048815.1033,
          "date": "2021-09-27T07:52:01.795Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1631185116582.9097,
          "ctimeMs": 1631185116582.9097,
          "date": "2021-09-27T07:52:02.029Z"
        },
        {
          "file": "template-contacts.php",
          "mtimeMs": 1634992968565.0166,
          "ctimeMs": 1634992968565.0166,
          "date": "2021-10-23T12:42:51.903Z"
        },
        {
          "file": "template-homepage.php",
          "mtimeMs": 1634996810393.0889,
          "ctimeMs": 1634996810393.0889,
          "date": "2021-10-23T13:47:30.088Z"
        },
        {
          "file": "assets/css/style.css",
          "mtimeMs": 1634993663976.3696,
          "ctimeMs": 1634993663976.3696,
          "date": "2021-10-23T12:54:48.485Z"
        },
        {
          "file": "assets/css/swiper-bundle.min.css",
          "mtimeMs": 1622387769535.686,
          "ctimeMs": 1631186304514.8506,
          "date": "2021-09-27T07:52:03.300Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Bold.eot",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304716.9841,
          "date": "2021-09-27T07:52:04.139Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Bold.ttf",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304730.904,
          "date": "2021-09-27T07:52:04.678Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Bold.woff",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304739.6057,
          "date": "2021-09-27T07:52:05.191Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Bold.woff2",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304729.0479,
          "date": "2021-09-27T07:52:05.656Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Light.eot",
          "mtimeMs": 1629646578000,
          "ctimeMs": 1631186304712.0586,
          "date": "2021-09-27T07:52:06.182Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Light.ttf",
          "mtimeMs": 1629646578000,
          "ctimeMs": 1631186304723.6416,
          "date": "2021-09-27T07:52:06.751Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Light.woff",
          "mtimeMs": 1629646578000,
          "ctimeMs": 1631186304719.0361,
          "date": "2021-09-27T07:52:07.268Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Light.woff2",
          "mtimeMs": 1629646578000,
          "ctimeMs": 1631186304741.533,
          "date": "2021-09-27T07:52:07.733Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Medium.eot",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304725.897,
          "date": "2021-09-27T07:52:08.265Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Medium.ttf",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304714.5203,
          "date": "2021-09-27T07:52:08.800Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Medium.woff",
          "mtimeMs": 1629646576000,
          "ctimeMs": 1631186304727.572,
          "date": "2021-09-27T07:52:09.318Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Medium.woff2",
          "mtimeMs": 1629646578000,
          "ctimeMs": 1631186304732.33,
          "date": "2021-09-27T07:52:09.788Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Regular.eot",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304734.2144,
          "date": "2021-09-27T07:52:10.374Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Regular.ttf",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304736.9033,
          "date": "2021-09-27T07:52:10.939Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Regular.woff",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304721.0754,
          "date": "2021-09-27T07:52:11.434Z"
        },
        {
          "file": "assets/fonts/Montserrat/Montserrat-Regular.woff2",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304709.451,
          "date": "2021-09-27T07:52:11.897Z"
        },
        {
          "file": "assets/fonts/Montserrat/demo.html",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304737.9165,
          "date": "2021-09-27T07:52:12.246Z"
        },
        {
          "file": "assets/fonts/Montserrat/stylesheet.css",
          "mtimeMs": 1629646580000,
          "ctimeMs": 1631186304735.3613,
          "date": "2021-09-27T07:52:12.558Z"
        },
        {
          "file": "assets/fonts/Pribambas/Pribambas-Regular.eot",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.1724,
          "date": "2021-09-27T07:52:13.013Z"
        },
        {
          "file": "assets/fonts/Pribambas/Pribambas-Regular.ttf",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.1362,
          "date": "2021-09-27T07:52:13.468Z"
        },
        {
          "file": "assets/fonts/Pribambas/Pribambas-Regular.woff",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.2637,
          "date": "2021-09-27T07:52:13.889Z"
        },
        {
          "file": "assets/fonts/Pribambas/Pribambas-Regular.woff2",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.2034,
          "date": "2021-09-27T07:52:14.274Z"
        },
        {
          "file": "assets/fonts/Pribambas/demo.html",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.2932,
          "date": "2021-09-27T07:52:14.617Z"
        },
        {
          "file": "assets/fonts/Pribambas/stylesheet.css",
          "mtimeMs": 1632728882000,
          "ctimeMs": 1632728892394.2336,
          "date": "2021-09-27T07:52:14.928Z"
        },
        {
          "file": "assets/fonts/icon/Read Me.txt",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.3186,
          "date": "2021-09-27T07:52:15.244Z"
        },
        {
          "file": "assets/fonts/icon/demo.html",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.358,
          "date": "2021-09-27T07:52:15.625Z"
        },
        {
          "file": "assets/fonts/icon/selection.json",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.2778,
          "date": "2021-09-27T07:52:16.016Z"
        },
        {
          "file": "assets/fonts/icon/style.css",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.2258,
          "date": "2021-09-27T07:52:16.331Z"
        },
        {
          "file": "assets/fonts/icon/demo-files/demo.css",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.066,
          "date": "2021-09-27T07:52:16.678Z"
        },
        {
          "file": "assets/fonts/icon/demo-files/demo.js",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.1016,
          "date": "2021-09-27T07:52:17.025Z"
        },
        {
          "file": "assets/fonts/icon/fonts/icon.eot",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.5364,
          "date": "2021-09-27T07:52:17.421Z"
        },
        {
          "file": "assets/fonts/icon/fonts/icon.svg",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.4944,
          "date": "2021-09-27T07:52:17.837Z"
        },
        {
          "file": "assets/fonts/icon/fonts/icon.ttf",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.6287,
          "date": "2021-09-27T07:52:18.219Z"
        },
        {
          "file": "assets/fonts/icon/fonts/icon.woff",
          "mtimeMs": 1632681590000,
          "ctimeMs": 1632681608045.5776,
          "date": "2021-09-27T07:52:18.601Z"
        },
        {
          "file": "assets/js/jquery.js",
          "mtimeMs": 1592828292866.588,
          "ctimeMs": 1631186304546.515,
          "date": "2021-09-27T07:52:20.424Z"
        },
        {
          "file": "assets/js/modal.js",
          "mtimeMs": 1594209371985.353,
          "ctimeMs": 1631186304545.319,
          "date": "2021-09-27T07:52:20.732Z"
        },
        {
          "file": "assets/js/script.js",
          "mtimeMs": 1633089595895.412,
          "ctimeMs": 1633089595895.412,
          "date": "2021-10-01T13:10:45.318Z"
        },
        {
          "file": "assets/js/swiper-bundle.min.js",
          "mtimeMs": 1622387703450.735,
          "ctimeMs": 1631186304541.6895,
          "date": "2021-09-27T07:52:21.519Z"
        },
        {
          "file": "inc/redux-options.php",
          "mtimeMs": 1634210689566.4163,
          "ctimeMs": 1634210689566.4163,
          "date": "2021-10-14T11:25:02.425Z"
        },
        {
          "file": "inc/zoo-post-type.php",
          "mtimeMs": 1633365708562.6675,
          "ctimeMs": 1633365708562.6675,
          "date": "2021-10-05T08:39:08.216Z"
        },
        {
          "file": "template-parts/content-about.php",
          "mtimeMs": 1632739132172.77,
          "ctimeMs": 1632739132172.77,
          "date": "2021-09-27T11:10:50.639Z"
        },
        {
          "file": "template-parts/content-baner.php",
          "mtimeMs": 1632739527666.4133,
          "ctimeMs": 1632739527666.4133,
          "date": "2021-09-27T11:10:50.757Z"
        },
        {
          "file": "template-parts/content-footer.php",
          "mtimeMs": 1631561307962.7007,
          "ctimeMs": 1631561307962.7007,
          "date": "2021-09-27T07:52:24.995Z"
        },
        {
          "file": "template-parts/content-header.php",
          "mtimeMs": 1634996423130.602,
          "ctimeMs": 1634996423130.602,
          "date": "2021-10-23T13:47:30.360Z"
        },
        {
          "file": "template-parts/content-instagram.php",
          "mtimeMs": 1633088903935.6338,
          "ctimeMs": 1633088903935.6338,
          "date": "2021-10-01T11:48:50.950Z"
        },
        {
          "file": "template-parts/content-more.php",
          "mtimeMs": 1633430160520.5464,
          "ctimeMs": 1633430160520.5464,
          "date": "2021-10-05T10:36:09.398Z"
        },
        {
          "file": "template-parts/content-news.php",
          "mtimeMs": 1633424647492.5586,
          "ctimeMs": 1633424647492.5586,
          "date": "2021-10-05T09:05:00.362Z"
        },
        {
          "file": "template-parts/content-none.php",
          "mtimeMs": 1634996041208.8171,
          "ctimeMs": 1634996041208.8171,
          "date": "2021-10-23T13:47:30.546Z"
        },
        {
          "file": "template-parts/content-page.php",
          "mtimeMs": 1634211320551.9658,
          "ctimeMs": 1634211320551.9658,
          "date": "2021-10-14T11:35:40.355Z"
        },
        {
          "file": "template-parts/content-partners.php",
          "mtimeMs": 1633430601891.5986,
          "ctimeMs": 1633430601891.5986,
          "date": "2021-10-05T10:43:26.261Z"
        },
        {
          "file": "template-parts/content-search.php",
          "mtimeMs": 1630914966000,
          "ctimeMs": 1630925778775.8855,
          "date": "2021-09-27T07:52:26.885Z"
        },
        {
          "file": "inc/zoo-breadcrumb.php",
          "mtimeMs": 1632684612781.5605,
          "ctimeMs": 1632684612781.5605,
          "date": "2021-09-27T07:52:22.948Z"
        },
        {
          "file": "archive-news.php",
          "mtimeMs": 1632740560495.1494,
          "ctimeMs": 1632740560495.1494,
          "date": "2021-09-27T11:10:49.093Z"
        },
        {
          "file": "assets/css/core/pagination.css",
          "mtimeMs": 1631977859792.291,
          "ctimeMs": 1631977859792.291,
          "date": "2021-09-27T07:52:03.608Z"
        },
        {
          "file": "template-parts/content-single.php",
          "mtimeMs": 1633094182208.3647,
          "ctimeMs": 1633094182208.3647,
          "date": "2021-10-01T13:19:10.486Z"
        },
        {
          "file": "archive-tutelage.php",
          "mtimeMs": 1632740498916.0928,
          "ctimeMs": 1632740498916.0928,
          "date": "2021-09-27T11:10:49.219Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1632737415918.249,
          "ctimeMs": 1632737415918.249,
          "date": "2021-09-27T11:10:49.335Z"
        },
        {
          "file": "single-news.php",
          "mtimeMs": 1632497190814.0708,
          "ctimeMs": 1632497190814.0708,
          "date": "2021-09-27T07:52:01.557Z"
        },
        {
          "file": "assets/img/animal.png",
          "mtimeMs": 1634211738281.4685,
          "ctimeMs": 1634211738295.043,
          "date": "2021-10-14T11:42:30.203Z"
        },
        {
          "file": "inc/acf.php",
          "mtimeMs": 1634209808650.4023,
          "ctimeMs": 1634209808650.4023,
          "date": "2021-10-14T11:25:02.252Z"
        },
        {
          "file": "template-parts/content-collection.php",
          "mtimeMs": 1632730137031.105,
          "ctimeMs": 1632730137031.105,
          "date": "2021-09-27T08:41:40.016Z"
        },
        {
          "file": "template-parts/content-singlenews.php",
          "mtimeMs": 1633424693420.7522,
          "ctimeMs": 1633424693420.7522,
          "date": "2021-10-05T09:05:00.542Z"
        },
        {
          "file": "searchform.php",
          "mtimeMs": 1632684545925.1921,
          "ctimeMs": 1632684545925.1921,
          "date": "2021-09-27T07:52:01.082Z"
        },
        {
          "file": "assets/js/ajax-search.js",
          "mtimeMs": 1632679652625.1462,
          "ctimeMs": 1632679652625.1462,
          "date": "2021-09-27T07:52:19.722Z"
        },
        {
          "file": "inc/ajax-search.php",
          "mtimeMs": 1632680013932.7168,
          "ctimeMs": 1632680013932.7168,
          "date": "2021-09-27T07:52:22.023Z"
        },
        {
          "file": "inc/zoo-paginate.php",
          "mtimeMs": 1632669503390.1753,
          "ctimeMs": 1632669503390.1753,
          "date": "2021-09-27T07:52:23.186Z"
        },
        {
          "file": "assets/img/bg_colloction.png",
          "mtimeMs": 1632685279563.2354,
          "ctimeMs": 1632685350523.7002,
          "date": "2021-09-27T07:52:19.446Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1632734161090.5178,
          "ctimeMs": 1632734161090.5178,
          "date": "2021-09-27T09:19:35.496Z"
        },
        {
          "file": "assets/img/bg_contacts.png",
          "mtimeMs": 1632733055069.1353,
          "ctimeMs": 1632733055097.2046,
          "date": "2021-09-27T09:19:36.526Z"
        },
        {
          "file": "assets/img/bg_test.png",
          "mtimeMs": 1632737012021.3958,
          "ctimeMs": 1632737059854.3132,
          "date": "2021-09-27T11:10:50.206Z"
        },
        {
          "file": "assets/js/wow.min.js",
          "mtimeMs": 1632737868159.3694,
          "ctimeMs": 1632737868159.6257,
          "date": "2021-09-27T11:10:50.510Z"
        },
        {
          "file": "assets/js/zoo-slider.js",
          "mtimeMs": 1633089594415.899,
          "ctimeMs": 1633089594415.899,
          "date": "2021-10-01T13:10:45.439Z"
        },
        {
          "file": "template-parts/content-newshome.php",
          "mtimeMs": 1634996707441.5586,
          "ctimeMs": 1634996707441.5586,
          "date": "2021-10-23T13:47:30.454Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/scss/mixins/mixins.scss",
        "config": {
          "compileImported": true,
          "autoCompile": false
        }
      }
    ]
  }
}
